<div class="container">
  <h1>Localice el medicamento</h1>
  <form class="d-flex">
    <input type="text" [(ngModel)]="nombreMed" name="nombreMed">
    <button (click)="getMedicamentosObtenidos(nombreMed)">Buscar</button>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre del medicamento</th>
        <th scope="col">
        </th>
      </tr>
    </thead>
    <tr *ngFor="let item of listMedObtenidos; trackBy: item?.nombre">
      <td>
        {{ item?.nombre }}
      </td>
      <td>
        <div>
          <button type="button" class="btn btn-primary btn-sm">Seleccionar</button>
        </div>
      </td>
    </tr>
  </table>
</div>
