
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="mb3">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre" >
  </div>
  <div class="mb3">
    <label for="apellidos">Apellidos</label>
    <input type="text" class="form-control" formControlName="apellidos" >
  </div>
  <div class="mb3">
    <label for="email">Email</label>
    <input type="mail" class="form-control" formControlName="email" >
  </div>
  <div class="mb3">
    <label for="password">Password</label>
    <input type="password" class="form-control" formControlName="password" >
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>


</form>


<!-- Anterior
  <div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    @if (!isSuccessful) {
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          name="nombre"
          [(ngModel)]="form.nombre"
          required
          #nombre="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && nombre.errors }"
        />
        @if (nombre.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (nombre.errors['required']) {
          <div>El nombre es necesario</div>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input
          type="text"
          class="form-control"
          name="apellidos"
          [(ngModel)]="form.apellidos"
          required
          #apellidos="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && apellidos.errors }"
        />
        @if (apellidos.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (apellidos.errors['required']) {
          <div>Los apellidos son necesarios</div>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="apellidos">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        @if (email.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (email.errors['required']) {
          <div>Email is required</div>
          }
          @if (email.errors['email']) {
          <div>Email must be a valid email address</div>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        @if (password.errors && f.submitted) {
        <div class="invalid-feedback">
          @if (password.errors['required']) {
          <div>Password is required</div>
          }
          @if (password.errors['minlength']) {
          <div>Password must be at least 6 characters</div>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      @if (f.submitted && isRegisterFailed) {
      <div class="alert alert-warning">
        Register failed!<br />{{ errorMessage }}
      </div>
      }
    </form>
    } @else {
    <div class="alert alert-success">Your registration is successful!</div>
    }
  </div>
</div>
-->
